<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Mejorada</title>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='js/style.css')}}">
</head>
<body>
    <div class="container">
        <div class="search-visualization">
            <h1>Búsqueda de Red</h1>
            <input type="text" id="queryInput" placeholder="Ingresa tu búsqueda...">
            <button onclick="fetchData()">Buscar</button>
            <div id="mynetwork"></div>
        </div>
        <div class="side-info" id="infoContainer">
            <h2>Información de la consulta</h2>
            <p id="infoText">No hay datos para mostrar aún.</p>
        </div>
    </div>

    <footer>
        <p>2024 - Memoria sobre redes semanticas </p>
        <p>Autor: Joaquín López N.</p>
        <p><a href="https://users.dcc.uchile.cl/~jlopez/">About</a> | <a href="mailto:jlopez@dcc.uchile.cl">Contacto</a></p>
    </footer>

    <script src="{{url_for('static', filename='js/requesting.js')}}"></script>
</body>
</html>
